<form method="post" action="{{ path('app_vaccine_delete', {'id': vaccine.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vaccine.id) }}">
    <button class="btn">Delete</button>
</form>
