{% extends 'base.html.twig' %}

{% block title %}New Vaccine{% endblock %}

{% block body %}
    <h1>Create new Vaccine</h1>

    {{ include('vaccine/_form.html.twig') }}

    <a href="{{ path('app_vaccine_index') }}">back to list</a>
{% endblock %}
